---
layout: default
---

<div class="l-columns">
  <div class="l-column-pre-right">
    {% include about-box.html %}
  </div>

  <div class="l-column-post-left">
    <div class="l-box s-gray">
      <div class="l-box-header">
        <h1>Writings and Videos</h1>
        <h2>Subscribe via <a href="/atom.xml">Atom</a> or <a href="/feed.json">JSON Feed</a>.</h2>
      </div>
      {% assign year = '' %}
      {% for post in site.posts %}
        {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
        {% if year != this_year %}<h3>{{ this_year }}</h3>{% endif %}
        {% assign year = this_year %}
        <p class="s-condensed"><a href="{{ post.url }}">{{ post.title }}</a>{% if post.blurb %} &mdash; {{ post.blurb }}{% endif %}</p>
      {% endfor %}
    </div>
  </div>
</div>