<div class="l-box s-gray">
	<div class="l-box-header">
        <div class="l-site-header">
            <div class="l-site-header-logo"></div>
            <div class="l-site-header-text">
        		<h1><a href="/">Justin Voss</a></h1>
        		<h2>Software Engineer</h2>
            </div>
        </div>
	</div>
	<p class="s-condensed">I spend my days creating software at Apple, and I occassionally write or make videos that I share here.</p>
	<p class="s-condensed">You can follow me on <a href="https://twitter.com/justinvoss" rel="me">Twitter</a>, or email me at <a href="mailto:{{ site.email }}">{{ site.email }}</a>.</p>
</div>