
<section class="s-section-orange s-invert">
    <div class="l-section-header">
        <div class="l-site-header">
            <div class="l-site-header-logo"></div>
            <div class="l-site-header-text">
                <h1 class="s-site-header-title"><a href="/">Justin Voss</a></h1>
                <h2 class="s-site-header-subtitle">Software Engineer</h2>
            </div><!-- .l-site-header-text -->
        </div><!-- .l-site-header -->
    </div><!-- .l-section-header -->

    <p>I spend my days creating software at Apple, and I occassionally write or make videos that I share here.</p>
    <p>You can follow me on <a href="https://twitter.com/justinvoss" rel="me">Twitter</a>, <a rel="me" href="https://mastodon.social/@justinvoss">Mastodon</a>, or email me at <a href="mailto:{{ site.email }}">{{ site.email }}</a>.</p>
    <p class="s-site-copyright">{{ site.copyright }}</p>
</section>
