<section class="s-section-blue">
  <div class="l-section-header">
    <h3>Comments</h3>
  </div><!-- .l-section-header -->
  <div id="disqus_thread"></div>
  <div id="disqus_placeholder">
    <noscript><p>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></p></noscript>
  </div><!-- #disqus_placeholder -->
</section>

<script type="text/javascript">
(function () {
  var disqus_shortname = 'justinvoss';
  // The following are highly recommended additional parameters. Remove the slashes in front to use.
  // var disqus_identifier = 'unique_dynamic_id_1234';
  window.disqus_url = 'http://justinvoss.com{{ page.url }}';

  var placeholderElement = document.getElementById('disqus_placeholder');

  var p = document.createElement('p');
  placeholderElement.appendChild(p);

  var a = document.createElement('a');
  a.href = '#';
  a.textContent = 'Click to load comments';
  p.appendChild(a);

  a.addEventListener('click', function () {
    placeholderElement.parentElement.removeChild(placeholderElement);
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  });
})();
</script>
