
body {
	font: 14px "Helvetica", sans-serif;
	line-height: 21px;
	margin-bottom: 2em;
}

math {
	font: 14px "Helvetica", sans-serif;
	display: block;
}

math mrow { padding: 4px 0; }
math mo { padding: 0 6px; }

.l-columns {
	padding: 1px 0 1px 0; /* avoid margin collapse, so the two columns have the same top edge */
}

@media (min-width: 960px) {

	.l-columns {
		max-width: 1100px;
		margin: 0 auto;
		display: flex;
	}

	.l-column-left {
		flex: 1;
		order: 0;
	}

	.l-column-right {
		flex: 0 1 384px;
		order: 1;
	}
}

section {
	margin: 32px 16px 0 16px;
	padding: 1px 0;
	max-width: 700px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
	border-radius: 6px;
}

.s-section-orange {
	border-top-width: 4px;
	border-top-style: solid;
}

.s-section-blue {
	border-top-width: 4px;
	border-top-style: solid;
}

section .l-section-header {
	/* The rounded corners seem to produce a 1px gap. */
	margin-top: -1px;
	/* Any background color will clip the curve of the top border. */
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	padding: 16px 0;
}

section .l-section-header h3 {
	font-size: 18px;
	line-height: 18px;
	margin: 0 16px;
}

.s-section-header-sub {
	font-size: 16px;
	line-height: 18px;
	margin: 0 16px;
}

.l-section-header h3 + .s-section-header-sub {
	margin-top: 14px;
}

section p {
	margin: 0.5em 16px;
}

article p {
	margin: 1.5em 16px;
}

article h1 {
	font-size: 2em;
	line-height: 1.1em;
	margin: 0 16px 8px 16px;
	font-weight: bold;
}

article h2 {
	font-size: 1.5em;
	line-height: 1.1em;
	margin: 2em 16px 0 16px;
	font-weight: bold;
}

article h3 {
	font-size: 16px;
  	line-height: 21px;
	margin: 2em 16px 0 16px;
	text-transform: uppercase;
}

article .blockimage {
	margin: 1.5em 0;
}

article .blockimage img {
	width: 100%;
	height: auto;
}

article p code,
article li code {
	padding: 2px 4px;
	margin: 0 2px;
	border-radius: 2px;
}

article pre {
	padding: 16px;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	line-height: 16px;
}

article ol,
article ul {
	padding-left: 48px;
	padding-right: 16px;
	margin: 1.5em 0;
}
article ol { list-style: decimal outside; }
article ul { list-style: disc; }

article li {
	margin: 0.5em 0;
}

article li p {
	margin-left: 0;
	margin-right: 0;
}

article blockquote {
	padding: 1px; /* 1px padding to avoid margin collapsing. */
	font-style: italic;
}

article blockquote > :first-child { margin-top: 1em; }
article blockquote > :last-child { margin-bottom: 1em; }

article blockquote em,
article blockquote code {
	font-style: normal;
}

article blockquote h2,
article blockquote h3 {
	border: none;
	padding: 0;
	margin: 0 16px;
}

hr {
	border-top: 1px solid #e0e0e0;
	border-bottom: none;
	border-left: none;
	border-right: none;
	margin: 3em;
}

sup {
	vertical-align: super;
	font-size: 80%;
}

.l-site-header {
	padding: 0 16px;
	display: flex;
	flex-flow: row;
}

.l-site-header-logo {
	width: 64px;
	height: 64px;
	flex: 0 0 64px;
	align-self: center;
	background: url('/static/images/BurstLogo-sRGB.png') center center / 64px 64px no-repeat;
}

@media (-webkit-min-device-pixel-ratio: 2) {
	.l-site-header-logo {
		background-image: url('/static/images/BurstLogo-sRGB@2x.png');
	}
}

@media (color-gamut: p3) {
	.l-site-header-logo {
		background-image: url('/static/images/BurstLogo-P3.png');
	}
}

@media (color-gamut: p3) and (-webkit-min-device-pixel-ratio: 2) {
	.l-site-header-logo {
		background-image: url('/static/images/BurstLogo-P3@2x.png');
	}
}

.l-site-header-text {
	flex: 0 1 100%;
	align-self: center;
}

.s-site-header-title {
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
	margin: 0 16px 9px 16px;
}

.s-site-header-title a {
	text-decoration: none;
}

.s-site-header-subtitle {
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	margin: 0 16px ;
}

.s-site-copyright {
	font-size: 0.8em;
	text-align: right;
}

article aside {
	padding: 1px; /*1px padding to avoid margin collapsing.*/
	font-style: italic;
}

article aside h2,
article aside h3 {
	border: none;
	padding: 0;
	margin: 0 16px;
}

article aside > :first-child { margin-top: 1em; }
article aside > :last-child { margin-bottom: 1em; }

article aside em {
	font-style: normal;
}

.s-post-list {
	margin-bottom: 1.5em;
}

.s-post-list p {
	margin: 0.5em 16px;
}

.s-post-list h3 {
	border-color: transparent;
}

#disqus_thread {
	margin: 0 16px;
}

#disqus_placeholder p {
	margin: 16px;
}

/* The Bigfoot footnotes get messed up due to some earlier styling, so undo some of those here. */

p a.footnote-button {
	border: none;
}

aside.footnote-content {
	padding: 0;
	border-left: inherit;
	font-style: inherit;
}

aside.footnote-content > :first-child {
	margin-top: 0;
}

aside.footnote-content > :last-child {
	margin-bottom: 0;
}

aside.footnote-content em {
	font-style: inherit;
}

.footnote-content-wrapper p {
	margin: 9px 0;
}

/**************** Light-Mode Colors ****************/

body {
	background-color: #e6e4e1;
	color: #333;
}

a:link { color: #0079af; }
a:visited { color: #0079af; }
a:hover { color: #11b3fc; }
/* TODO: a:active */

.s-section-orange {
	border-color: #fc9011;
}

.s-section-blue {
	border-color: #11b3fc;
}

section {
	background-color: white;
}

section .l-section-header {
	background-color: #f5f5f5;
}

section.s-invert {
	background-color: #f5f5f5;
}

section.s-invert .l-section-header {
	background: #fff;
}

.s-section-header-sub {
	color: #9b9b9b;
}

article h2 {
	color: #fc9011;
}

article h3 {
	color: #9b9b9b;
}

article p code,
article li code {
	background-color: #eee;
}

article pre {
	background-color: #444444;
	color: white;
}

article blockquote {
	background-color: #f5f5f5;
	color: #555555;
}

article blockquote code {
	background-color: #ddd;
}

article blockquote h2,
article blockquote h3 {
	color: inherit;
}

article aside h2,
article aside h3 {
	color: inherit;
}

.s-site-header-title a {
	color: inherit;
}

.s-site-header-subtitle {
	color: #9b9b9b;
}

.s-site-copyright {
	color: #bcb6ae;
}

article aside {
	background-color: #ffebcc;
	color: #af6206;
}

aside.footnote-content {
	background-color: inherit;
	color: inherit;
}

/**************** Dark-Mode Colors ****************/

@media (prefers-color-scheme: dark) {
	body {
		background-color: #000;
		color: #fff;
	}

	a:link { color: #1fbaff; }
	a:visited { color: #2fbfff; }
	a:hover { color: #11b3fc; }

	.s-section-orange {
		border-color: #fc9011;
	}

	.s-section-blue {
		border-color: #11b3fc;
	}

	section {
		background-color: rgb(72, 72, 72);
	}

	section .l-section-header {
		background-color: #353535;
	}

	section.s-invert {
		background-color: #353535;
	}

	section.s-invert .l-section-header {
		background: rgb(72, 72, 72);
	}

	.s-section-header-sub {
		color: #d2d2d2;
	}

	article h2 {
		color: #fda33a;
	}

	article h3 {
		color: #9b9b9b;
	}

	article p code,
	article li code {
		background-color: #676767;
	}

	article pre {
		background-color: #2b2b2b;
		color: white;
	}

	article blockquote {
		background-color: #2b2b2b;
		color: #eeeeee;
	}

	article blockquote code {
		background-color: #5e5e5e;
	}

	article blockquote h2,
	article blockquote h3 {
		color: inherit;
	}

	article aside h2,
	article aside h3 {
		color: inherit;
	}

	.s-site-header-title a {
		color: inherit;
	}

	.s-site-header-subtitle {
		color: #9b9b9b;
	}

	.s-site-copyright {
		color: #bcb6ae;
	}

	article aside {
		background-color: #492c00;
		color: #f79014;
	}

	aside.footnote-content {
		background-color: inherit;
		color: inherit;
	}
}
