
body {
	background-color: #E6E4E1;
	font-family: "Helvetica", sans-serif;
	color: #333333;
}

math {
	font-family: "Helvetica", sans-serif;
}

h1 {
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	margin: 18px 16px 9px 16px;
}

h2 {
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	margin: 45px 16px 9px 16px;
}

h3 {
	color: #9B9B9B;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	margin: 18px 0 9px 0;
	text-transform: uppercase;
}

hr {
	border-top: 1px solid #777777;
	border-bottom: none;
	border-left: none;
	border-right: none;
	margin: 45px;
}

p, li
{
	font-size: 14px;
	line-height: 27px;
}

p {
	margin: 27px 16px;
}

li {
	margin: 0 16px;
}

li p {
	margin: 0 0 16px 0;
}

ul li {
	list-style: none;
	position: relative;
	margin-left: 48px;
	margin-bottom: 9px;
}

ol {
	list-style: decimal outside;
}

ol li {
	margin-bottom: 9px;
	margin-left: 48px;
}

ul li:before {
	/* Unfortunately there's no CSS property to change the color of the list bullet. */
	content: "\2022";
	color: #777777;
	font-size: 28px;
	position: absolute;
	left: -16px;
}

math {
	display: block;
	font-size: 14px;	
}

math mrow {
	padding: 4px 0;
}

math mo {
	padding: 0 6px;
}

blockquote {
	background-color: #F5F5F5;
	color: #555555;
	padding: 1px 16px; /* 1px top / bottom padding to avoid margin collapsing. */
	border-left: 4px solid #AAAAAA;
	font-style: italic;
}

blockquote > :first-child {
	margin-top: 27px;
}

blockquote > :last-child {
	margin-bottom: 27px;
}

blockquote em {
	font-style: normal;
}

aside {
	background-color: #FFEBCC;
	color: #AF6206;
	padding: 1px 16px; /* 1px top / bottom padding to avoid margin collapsing. */
	border-left: 4px solid #AF6206;
	font-style: italic;
}

aside > :first-child {
	margin-top: 27px;
}

aside > :last-child {
	margin-bottom: 27px;
}

aside em {
	font-style: normal;
}

pre {
	background-color: #444444;
	color: white;
	padding: 16px;
	overflow-x: scroll
}

p code,
li code
{
	background-color: #444444;
	color: white;
	padding: 2px 4px;
	margin: 0 2px;
	border-radius: 2px;
}

figure {
	margin: 17px 0;
}

p a.footnote-button {
	border: none;
}

.footnote-content-wrapper p {
	margin: 9px 0;
}

/* A 'blockimage' needs top and bottom margins equal to the text content. */
.blockimage {
	margin: 27px 0;
}

.blockimage img {
	width: 100%;
	height: auto;
}

a:link {
	color: #0079AF;
	text-decoration: none;
	border-bottom: 2px solid #0079AF;
}

a:visited { /* FIXME */
	color: #0079AF;
	border-color: #0079AF;
}

a:hover { /* FIXME */
	color: #11B3FC;
	border-color: #5CC9FF;
}

/* TODO: a:active */

a code {
	background-color: transparent;
	color: inherit;
	margin: 0;
	padding: 0;
}

.blockimage a {
	border: none;
}

.l-box {
	background-color: white;
	margin: 32px 16px 0 16px;
	padding: 1px 0; /* 1px top / bottom padding to avoid margin collapsing. */
	max-width: 700px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
	border-radius: 6px;
	border-top: 4px solid #FC9011;
}

.s-box-blue {
	border-color: #11B3FC;
}

.l-box h1,
.l-box h2,
.l-box h3
{
	margin-left: 16px;
	margin-right: 16px;
}

.l-box-header {
	background-color: white;
	padding: 16px 0;
}

.l-box > :first-child {
	margin-top: -1px;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}

.l-box > :last-child {
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;	
}

.l-box-header h1,
.l-box-header h2
{
	margin-top: 0;
}

.l-box-header h1 a {
	color: inherit;
	border: none;
}

.l-box-header h2 {
	color: #9B9B9B;
	font-weight: normal;
}

.l-box-header :last-child {
	margin-bottom: 0;
}

.s-gray {
	background-color: #F5F5F5;
}

p.s-condensed {
	line-height: 27px;
	margin: 9px 16px;
}

p.s-footnote {
	color: #A39C91;
	margin: 16px 32px;
}

.l-columns {
	padding: 1px 0 1px 0; /* avoid margin collapse, so the two columns have the same top edge */
}

@media (min-width: 960px) {

	.l-columns {
		max-width: 1100px;
		margin: 0 auto;
		display: flex;
	}

	.l-column-pre-left,
	.l-column-post-left {
		flex: 1;
	}

	.l-column-post-right,
	.l-column-pre-right {
		flex: 0 1 384px;
	}

	.l-column-pre-right {
		order: 1;
	}

	.l-column-post-left {
		order: 0;
	}

	.l-footer {
		margin: 0 auto;
		max-width: 1100px;
	}
}

#disqus_thread {
	margin: 0 16px;
}

#disqus_placeholder p {
	margin: 16px;
}

.l-site-header {
	padding: 0 16px;
	display: flex;
	flex-flow: row;
}

.l-site-header-logo {
	width: 64px;
	height: 64px;
	flex: 0 0 64px;
	align-self: center;
	background: url('/static/images/BurstLogo-sRGB.png') center center / 64px 64px no-repeat;
}

@media (-webkit-min-device-pixel-ratio: 2) {
	.l-site-header-logo {
		background-image: url('/static/images/BurstLogo-sRGB@2x.png');
	}
}

@media (color-gamut: p3) {
	.l-site-header-logo {
		background-image: url('/static/images/BurstLogo-P3.png');
	}
}

@media (color-gamut: p3) and (-webkit-min-device-pixel-ratio: 2) {
	.l-site-header-logo {
		background-image: url('/static/images/BurstLogo-P3@2x.png');
	}
}

.l-site-header-text {
	flex: 0 1 100%;
	align-self: center;
}
