<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% if page.title %}{{ page.title }} - Justin Voss{% else %}Justin Voss{% endif %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    {% if layout.wants_bigfoot %}<link rel="stylesheet" type="text/css" href="/static/css/bigfoot-default.css">{% endif %}
    {% if layout.wants_video %}
    <link rel="stylesheet" type="text/css" href="/static/css/video-js.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/justinvoss-video-js.css">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="/static/css/justinvoss.css?v=2018">
    <link rel="stylesheet" type="text/css" href="/static/css/code.css?v=2018">
    
    {% if layout.wants_bigfoot %}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bigfoot.min.js"></script>
    <script type="text/javascript">
        $.bigfoot();
    </script>
    {% endif %}
    
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png?v=2018">
    <link rel="icon" href="/favicon.png?v=2018" type="image/png">

    <link rel="alternate" type="application/atom+xml" href="/atom.xml">
    <link rel="alternate" type="application/json" href="/feed.json" />
    
    <meta name="author" value="Justin Voss">
    
    <link rel="me" href="https://micro.blog/justinvoss" />
    
    {% include analytics.html %}

</head>
<body{% if layout.body_class %} class="{{ layout.body_class }}"{% endif %}>


{{ content }}

<div class="l-footer">
  <p class="s-footnote">{{ site.copyright }}</p>
</div>

</body>
</html>
