---
layout: default
wants_bigfoot: True
wants_video:   False
---

<div class="l-columns">
  <div class="l-column-left">
    <section class="s-section-orange">
      <article>
        <div class="l-section-header">
          <h1>{{ page.title }}</h1>
          {%if page.date %}<p class="s-section-header-sub"><time datetime="{{ page.date }}">{{ page.date | date: "%B %e, %Y" }}</time></p>{% endif %}
        </div><!-- .l-section-header -->
        {{ content }}
      </article>
    </section>
    {% if page.comments_enabled %}
      {% include disqus.html %}
    {% endif %}
  </div><!-- .l-column-left -->
  <div class="l-column-right">

    {% include about-box.html %}

    <section class="s-section-blue s-invert">
      <div class="l-section-header">
        <h3>Other Recent Posts</h3>
        <p class="s-section-header-sub">Subscribe via <a href="/atom.xml">Atom</a> or <a href="/feed.json">JSON Feed</a>.</p>
      </div><!-- .l-section-header -->
      <ul>
      {% for post in site.posts limit:5 %}
        <p><a href="{{ post.url }}">{{ post.title }}</a>{% if post.blurb %} &mdash; {{ post.blurb }}{% endif %}</p>
      {% endfor %}
      </ul>
    </section>
  </div><!-- .l-column-right -->
</div><!-- .l-columns -->
